.button{    
    display: flex;
    align-items: center;
    justify-content: center;
    width:50px;
    height: 50px;
    padding: 27px 18px 18px 18px;
    border-radius: 50%;
    background-color:var(--color-primary-medium);
    box-shadow: 5px 5px 12px -4px rgba(35,35,35,0.4);
    margin: 0 16px 0 0;
}
.button:hover{
    cursor: pointer;
    opacity: 0.8;
}.button:active{
    opacity: 0.6;
}
.emoji{
    font-size: 40px;
}
