.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width:fit-content;
    padding: 0 32px;
    border-radius: 30px;
    background: var(--color-primary-medium);
    box-shadow: 5px 5px 12px -4px rgba(35,35,35,0.4);
  }
  
  .container:hover {
    cursor: pointer;
    opacity: 0.8;
  }
  
  .text {
    color: var(--color-almost-black);
    font-size: 16px;
    line-height: 150%;
    font-weight: 500;
    margin: 0;
  }
