.container {
    --page-width: 100%;
  
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    min-width: var(--page-width);
    min-height: 100vh;
    height: 0;
  }
  
  .content {
    flex-shrink: 0;
    width: var(--page-width);
    min-height: 100%;
    background: var(--color-grey-ultra-dark);
  }
  
  .pageContent {
    padding: 0;
  }
