/* Style vars (these will become available everywhere) */
html {
  /* Colors */
  --color-white: #ffffff;
  --color-primary-medium: #7EBBE7;
  --color-primary-dark: #16a085;
  --color-green-light: #9FC68C;
  --color-pink-light: #F8A0A0;
  --color-yellow-light: #DFD07F;
  --color-grey-light: #ededed;
  --color-grey-medium: #626262;
  --color-grey-dark: #494848;
  --color-grey-ultra-dark: #3A3A3A;
  --color-black: #000000;

  /* Fonts */
  --font-family-base: "Libre Franklin", sans-serif;
}

/* Global styles */
html,
body {
  margin: 0;
}
body {
  background: var(--color-grey-ultra-dark);
  font-family: var(--font-family-base);
  color: var(--color-grey-light);
}

p,
ul {
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
  margin: 0;
}

h1 {
  font-size: 48px;
  line-height: 120%;
  font-weight: 700;
  margin: 0;
}

h2 {
  font-size: 32px;
  line-height: 120%;
  font-weight: 700;
  margin: 0;
}

h3 {
  font-size: 24px;
  line-height: 120%;
  font-weight: 500;
  margin: 0;
}

a,
a:visited,
a:hover {
  color: var(--color-blue-medium);
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
